/******************************TAG SELECTORS**********************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* font-size: 200%; */
}

h1 {
  color: #197163;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #197163;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #197163;
}

hr {
  border-style: none;
  border-top: 5px dotted #838383;
  width: 4%;
}

/******************************CLASS SELECTORS**********************************/
.top-container {
  background-color: #e0ece4;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  color: #11999e;
  background-color: #66bfbf;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.code-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.data-science-image {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.footer-link {
  margin: 15px;
}

.BUTTON_AHR {
  background: #197163;
  background-image: -webkit-linear-gradient(top, #197163, #46D7C0);
  background-image: -moz-linear-gradient(top, #197163, #46D7C0);
  background-image: -ms-linear-gradient(top, #197163, #46D7C0);
  background-image: -o-linear-gradient(top, #197163, #46D7C0);
  background-image: linear-gradient(to bottom, #197163, #46D7C0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 25px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: sans-serif;
  width: 110px;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: -2px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_AHR:hover {
  border: solid #337FED 1px;
  background: #3E51B5;
  background-image: -webkit-linear-gradient(top, #3E51B5, #709BCB);
  background-image: -moz-linear-gradient(top, #3E51B5, #709BCB);
  background-image: -ms-linear-gradient(top, #3E51B5, #709BCB);
  background-image: -o-linear-gradient(top, #3E51B5, #709BCB);
  background-image: linear-gradient(to bottom, #3E51B5, #709BCB);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.button-margin {
  margin: 25px;
}

.profile-image {
  width: 28%;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.footer-container{
  width: 50%;
  margin: 15px auto 1px auto;
}
/*
.machine-learning-paragraph{
  clear: right;
} */
/* .web-dev-paragraph {
  clear: left;
}
*/
/*
.skills{
  text-align: center;
} */
/********************************ID SELECTORS**********************************/
#copyright {
  color: #eaf6f6;
}
